distro/server/bin/resources/basic-mule-rest-template-error-logging-devops/templates/mule-rest-api-template/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<apikit:config name="mule-rest-api-tempalte-config"
		api="api\mule-rest-api-template.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<flow name="interface-main">
		<http:listener path="/api/*"
			config-ref="HttpsListenerConfig">
			<http:response
				statusCode='#[vars.httpStatus default "200"]'>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
				<#assign IsLoggingEnabled = commonServices.enableLogging> 
	<#if IsLoggingEnabled>
		<flow-ref doc:name="logger-payload-as-string-flow" doc:id="c5971804-8936-4c6a-a313-ea600ed5297c" name="logger-payload-as-string-flow"/>
			</#if>
		<ee:transform doc:name="set properties"
			doc:id="47e2f759-cb40-43fb-964c-27dd6549fb63">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable
					variableName="originatingApplication"><![CDATA[%dw 2.0
output application/java
---
"template source"]]></ee:set-variable>
				<ee:set-variable variableName="path"><![CDATA[%dw 2.0
output application/java
---
attributes.requestPath]]></ee:set-variable>
				<ee:set-variable variableName="service"><![CDATA[%dw 2.0
output application/java
---
"template service"]]></ee:set-variable>
				<ee:set-variable
					variableName="destinationApplication"><![CDATA[%dw 2.0
output application/java
---
"template destination"]]></ee:set-variable>

				<ee:set-variable variableName="bussinessProcessName"><![CDATA[%dw 2.0
output application/java
---
"template business process"]]></ee:set-variable>
				<ee:set-variable variableName="flowName" ><![CDATA[%dw 2.0
output application/java
---
"api-template-main"]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="generate-messageId-and-transactionId-subflow" doc:id="b0bec642-3206-4256-b159-0318a4b5ad65" name="generate-messageId-and-transactionId-subflow"/>
		<apikit:router config-ref="mule-rest-api-tempalte-config" />
		
	</flow>
	<flow name="interface-console">
		<http:listener path="/console/*"
			config-ref="HttpsListenerConfig">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console
			config-ref="mule-rest-api-tempalte-config" />
		
	</flow>
</mule>
