distro/server/bin/resources/NTT Healthcare Accelerator/healthcare-sys-api/src/main/mule/healthcare-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="healthcare-sys-api-config" api="healthcare-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="healthcare-sys-api-main" doc:id="d73440f4-d7cc-4f07-a25a-fe2bd332d35d">
        <http:listener config-ref="HttpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
           <flow-ref doc:name="logger-payload-as-string-flow" doc:id="79b79bc4-1117-4e16-a421-b74e42719a28" name="logger-payload-as-string-flow"/>
		<ee:transform doc:name="set properties" doc:id="1c30691e-a8c0-4edf-a439-2d82987bb772">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="originatingApplication"><![CDATA[%dw 2.0
output application/java
---
"template source"]]></ee:set-variable>
				<ee:set-variable variableName="path"><![CDATA[%dw 2.0
output application/java
---
attributes.requestPath]]></ee:set-variable>
				<ee:set-variable variableName="service"><![CDATA[%dw 2.0
output application/java
---
"template service"]]></ee:set-variable>
				<ee:set-variable variableName="destinationApplication"><![CDATA[%dw 2.0
output application/java
---
"template destination"]]></ee:set-variable>
				<ee:set-variable variableName="bussinessProcessName"><![CDATA[%dw 2.0
output application/java
---
"template business process"]]></ee:set-variable>
				<ee:set-variable variableName="flowName"><![CDATA[%dw 2.0
output application/java
---
"healthcare-prc-api-main"]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="generate-messageId-and-transactionId-subflow" doc:id="4336503f-1e54-43b7-b0b4-cd22f1606140" name="generate-messageId-and-transactionId-subflow" />
        
        <apikit:router config-ref="healthcare-sys-api-config" />
    </flow>
    <flow name="healthcare-sys-api-console">
        <http:listener config-ref="HttpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="healthcare-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\health:healthcare-sys-api-config">
        <logger level="INFO" message="get:\health:healthcare-sys-api-config" />
    </flow>
    <flow name="post:\eligibility-inquiry:application\json:healthcare-sys-api-config">
             <ee:transform doc:name="set Context Properties" doc:id="cf979f27-b2f9-44eb-95fe-002d24ca78cd">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="context1"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="context2"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="context3"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="context4"><![CDATA[%dw 2.0
output application/java
---
""]]></ee:set-variable>
                <ee:set-variable variableName="flowName"><![CDATA[%dw 2.0
output application/java
---
"post edi healthcare request"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="logger api start flow" doc:id="38620fed-3974-4747-9f35-668dfb94298a" name="logger-api-start-flow" />
		<flow-ref doc:name="eligibility-implementationSub_Flow" doc:id="5cc0773a-6872-4a0a-90ec-7548abcbc680" name="eligibility-implementationSub_Flow"/>
		<flow-ref doc:name="logger-api-end-flow" doc:id="e99eda80-4526-4b98-966a-e32efaae3f10" name="logger-api-end-flow" />
    </flow>
</mule>
